.main {
	display: flex;
	align-items: center;
	gap: 23px;

	.block {
		display: flex;
		flex-direction: column;
		gap: 35px;
		align-items: center;

		.top {
			display: flex;
			align-items: center;
			gap: 0;

			.part {
				font-size: 105px;
				font-weight: 700;
				color: #fff;
				border-top: 6px solid #fff;
				border-bottom: 6px solid #fff;
				border-right: 6px solid #fff;
				padding: 40px 50px;
			}

			.part:first-child {
				border: 6px solid #fff;
				border-top-left-radius: 28px;
				border-bottom-left-radius: 28px;
			}

			.part:last-child {
				border-top-right-radius: 28px;
				border-bottom-right-radius: 28px;
			}
		}

		.bottom {
			.span {
				color: #fff;
				font-size: 55px;
				line-height: 16px;
				font-weight: 700;
			}
		}
	}
}

@media (max-width: 1150px) {
	.part {
		font-size: 80px !important;
		font-weight: 700;
		color: #fff;
		border-top: 6px solid #fff;
		border-bottom: 6px solid #fff;
		border-right: 6px solid #fff;
		padding: 30px 40px !important;
	}
}

@media (max-width: 900px) {
	.part {
		font-size: 60px !important;
		font-weight: 700;
		color: #fff;
		border-top: 6px solid #fff;
		border-bottom: 6px solid #fff;
		border-right: 6px solid #fff;
		padding: 20px 30px !important;
	}

	.bottom {
		.span {
			color: #fff;
			font-size: 40px !important;
			line-height: 16px;
			font-weight: 700;
		}
	}
}

@media (max-width: 700px) {
	.part {
		font-size: 40px !important;
		font-weight: 700;
		color: #fff;
		border-top: 6px solid #fff;
		border-bottom: 6px solid #fff;
		border-right: 6px solid #fff;
		padding: 15px 25px !important;
	}

	.bottom {
		.span {
			color: #fff;
			font-size: 30px !important;
			line-height: 16px;
			font-weight: 700;
		}
	}
}

@media (max-width: 600px) {
	.block {
		display: flex;
		flex-direction: column;
		gap: 20px !important;
		align-items: center;
	}
	.part {
		font-size: 30px !important;
		font-weight: 700;
		color: #fff;
		border-top: 6px solid #fff;
		border-bottom: 6px solid #fff;
		border-right: 6px solid #fff;
		padding: 12px 20px !important;
	}

	.bottom {
		.span {
			color: #fff;
			font-size: 20px !important;
			line-height: 16px;
			font-weight: 700;
		}
	}

	.part:first-child {
		border: 6px solid #fff;
		border-top-left-radius: 17px !important;
		border-bottom-left-radius: 17px !important;
	}

	.part:last-child {
		border-top-right-radius: 17px !important;
		border-bottom-right-radius: 17px !important;
	}
}

@media (max-width: 475px) {
	.block {
		display: flex;
		flex-direction: column;
		gap: 11px !important;
		align-items: center;
	}
	.part {
		font-size: 20px !important;
		font-weight: 700;
		color: #fff;
		border-top: 2px solid #fff !important;
		border-bottom: 2px solid #fff !important;
		border-right: 2px solid #fff !important;
		padding: 9px 14px !important;
	}

	.bottom {
		.span {
			color: #fff;
			font-size: 18px !important;
			line-height: 16px;
			font-weight: 700;
		}
	}

	.part:first-child {
		border: 2px solid #fff !important;
		border-top-left-radius: 11px !important;
		border-bottom-left-radius: 11px !important;
	}

	.part:last-child {
		border-top-right-radius: 11px !important;
		border-bottom-right-radius: 11px !important;
	}
}
