.main {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	gap: 30px;
	padding: 110px 98px;
	border: 6px solid #fff;

	.text {
		display: flex;
		flex-direction: column;
		align-items: center;
		.span {
			font-weight: 500;
			font-size: 40px;
			max-width: 350px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}

@media (max-width: 1150px) {
	.main {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		gap: 30px;
		padding: 75px 45px;
		border: 6px solid #fff;

		.text {
			display: flex;
			flex-direction: column;
			align-items: center;
			.span {
				font-weight: 500;
				font-size: 30px;
				max-width: 350px;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}

		.img {
			width: 225px;
			height: 225px;
		}
	}
}

@media (max-width: 400px) {
	.main {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		gap: 30px;
		padding: 50px 25px;
		border: 6px solid #fff;

		.text {
			display: flex;
			flex-direction: column;
			align-items: center;
			.span {
				font-weight: 500;
				font-size: 30px;
				max-width: 350px;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}

		.img {
			width: 225px;
			height: 225px;
		}
	}
}
