.modalOverlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;

	.modalContent {
		background: #2f2f2f;
		padding: 50px;
		border-radius: 8px;
		max-width: 800px;
		width: 100%;
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;

		.modalClose {
			position: absolute;
			top: 59px;
			right: 50px;
			background: none;
			border: none;
			cursor: pointer;
		}

		.walletName {
			font-size: 48px;
			font-weight: 700;
			margin-bottom: 50px;
		}

		.qr {
			margin-bottom: 50px;
		}
	}
}

@media (max-width: 800px) {
	.modalContent {
		padding: 40px !important;
	}

	.modalClose {
		top: 51px !important;
	}
	.close {
		width: 30px !important;
		height: 30px !important;
	}

	.walletName {
		font-size: 48px;
		font-weight: 700;
		margin-bottom: 50px;
	}
}

@media (max-width: 650px) {
	.modalContent {
		padding: 40px !important;
	}

	.modalClose {
		top: 51px !important;
	}
	.close {
		width: 30px !important;
		height: 30px !important;
	}

	.walletName {
		font-size: 35px !important;
		font-weight: 700;
		margin-bottom: 50px;
	}
}

@media (max-width: 600px) {
	.modalContent {
		padding: 25px !important;
	}

	.modalClose {
		top: 30px !important;
	}
	.close {
		width: 30px !important;
		height: 30px !important;
	}
}

@media (max-width: 550px) {
	.modalContent {
		padding: 25px !important;
	}

	.modalClose {
		top: 35px !important;
	}
	.close {
		width: 15px !important;
		height: 15px !important;
	}

	.walletName {
		font-size: 25px !important;
		font-weight: 700;
		margin-bottom: 50px;
	}
}

@media (max-width: 400px) {
	.modalContent {
		padding: 25px !important;
	}

	.modalClose {
		right: 25px !important;
		top: 35px !important;
	}
	.close {
		width: 15px !important;
		height: 15px !important;
	}
}
